@{
    ViewBag.Title = "Please contact us if you have any questions!";
}
<h2>@ViewBag.Title</h2>

<address>
    Södra Hamngatan 19-21<br />
    411 14 Göteborg<br />
    Phone: +46 555 0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@coolbooks.com">support@coolbooks.com</a><br />
    <strong>General Questions:</strong> <a href="mailto:info@example.com">info@coolbooks.com</a>
</address>